<div class="container" style="margin-top: 50px">
  <h2>Registre-se!</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :nome %><br />
      <%= f.text_field :nome %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>Senha deve conter pelo menos (<%= @minimum_password_length %> caracteres)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :rua %><br />
      <%= f.text_field :rua %>
    </div>
      
    <div class="field">
      <%= f.label :bairro %><br />
      <%= f.text_field :bairro %>
    </div>
      
    <div class="field">
      <%= f.label :cidade %><br />
      <%= f.text_field :cidade %>
    </div>
      
    <div class="field">
      <%= f.label :estado %><br />
      <%= f.text_field :estado %>
    </div>

    <div class="field">
      <%= f.label :cep %><br />
      <%= f.text_field :cep %>
    </div>

    <div class="field">
      <%= f.label :telefone %><br />
      <%= f.text_field :telefone %>
    </div>

    <div class="actions" style="margin-top: 5px">
      <%= f.submit "Registrar!", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
