<div style="margin-top: 50px">
  <div>
    <div>Nome: <%= @ong.nome %></div>
  </div>
  <div>
    <div>Email: <%= @ong.email %></div>
  </div> 
  <div>
    <div>Encrypted Password: <%= @ong.encrypted_password %></div>
  </div> 
  <div>
    <div>Rua: <%= @ong.rua %></div>
  </div>
  <div>
    <div>Bairro: <%= @ong.bairro %></div>
  </div>
  <div>
    <div>Cidade: <%= @ong.cidade %></div>
  </div>
  <div>
    <div>Estado: <%= @ong.estado %></div>
  </div>
  <div>
    <div>CEP: <%= @ong.cep %></div>
  </div>
  <div>
    <div>Telefone: <%= @ong.telefone %></div>
  </div>
</div>