<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Informação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nome:</td>
        <td><%= @ong.nome %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= @ong.email %></td>
      </tr>
      <tr>
        <td>Rua:</td>
        <td><%= @ong.rua %></td>
      </tr>
      <tr>
        <td>Bairro:</td>
        <td><%= @ong.bairro %></td>
      </tr>
      <tr>
        <td>Cidade:</td>
        <td><%= @ong.cidade %></td>
      </tr>
      <tr>
        <td>Estado:</td>
        <td><%= @ong.estado %></td>
      </tr>
      <tr>
        <td>CEP:</td>
        <td><%= @ong.cep %></td>
      </tr>
      <tr>
        <td>Telefone:</td>
        <td><%= @ong.telefone %></td>
      </tr>
    </tbody>
  </table>
</div>