<h2><%= @ong.nome %></h2><br/>
<b>Telefone:</b> <%= @ong.telefone %> <br/>
<b>E-mail:</b> <%= @ong.email %><br/>
<b>Endereço:</b><br/>
<%= @ong.rua %> - <%= @ong.bairro %> - <%= @ong.cep %> <br/>
<%= @ong.cidade %> - <%= @ong.estado %>
